<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration debug="true" scan="true" scanPeriod="30 seconds"><!-- 'milliseconds','seconds','minutes' 
		and 'hours' -->
    <springProperty scope="context" name="logPath" source="log.path"/>
	<springProperty scope="context" name="logCommonLevel" source="log.commonLevel"/>
	<springProperty scope="context" name="logSpringLevel" source="log.springLevel"/>
	<springProperty scope="context" name="logName"  source="log.name"/>
	<contextName>${logName}</contextName>
	<jmxConfigurator />
	<!-- 控制台输出日志 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%-5level [%contextName] %d{yyyy-MM-dd HH:mm:ss.SSS}
				[%thread] %X{req.remoteHost} %X{req.requestURI} %X{username} %logger.%method:%L
				- %msg%n</pattern>
		</encoder>
	</appender>
	<!-- 文件输出日志 (文件大小策略进行文件输出，超过指定大小对文件备份) -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${logPath}${logName}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"><!-- rollover daily -->
			<FileNamePattern>${logPath}${logName}-log-%d{yyyy-MM-dd}.%i.zip</FileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize><!-- or whenever the file size reaches
					5MB -->
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- <maxHistory></maxHistory> -->
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%-5level [%contextName] %d{yyyy-MM-dd HH:mm:ss.SSS}
				[%thread] %X{req.remoteHost} %X{req.requestURI} %X{username}
				%logger.%method:%L - %msg%n</Pattern>
		</encoder>
	</appender>

	<appender name="FILE-ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<OnMismatch>DENY</OnMismatch>
			<OnMatch>ACCEPT</OnMatch>
		</filter>
		<File>${logPath}${logName}-err.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"><!-- rollover daily -->
			<FileNamePattern>${logPath}${logName}-log-err-%d{yyyy-MM-dd}.%i.zip</FileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize><!-- or whenever the file size reaches
					5MB -->
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- <maxHistory></maxHistory> -->
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%-5level [%contextName] %d{yyyy-MM-dd HH:mm:ss.SSS}
				[%thread] %X{req.remoteHost} %X{req.requestURI} %X{username}
				%logger.%method:%L - %msg%n</Pattern>
		</encoder>
	</appender>

	<!--这里指定logger name 是为jmx设置日志级别做铺垫 -->
	<root level="${logCommonLevel}"  >
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
		<appender-ref ref="FILE-ERROR" />
	</root>

	<logger name="com.oneeth"/>

	<logger name="org.springframework" level="${logSpringLevel}" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-ERROR" />
	</logger>
	
	<logger name="org.apache.http.impl.conn.PoolingHttpClientConnectionManager" level="INFO" >
		<appender-ref ref="STDOUT" />
	</logger>

</configuration>